<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin :: ระบบค้นหาหอพัก</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="stylesheet"
	th:href="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}" />
<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/app.css}" href="../static/app.css"
	media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}"
	href="../static/css/default.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"
	href="../static/css/component.css" />
<script src="../static/js/modernizr.custom.js"
	th:src="@{/js/modernizr.custom.js}"></script>
</head>
<body class="fix-boy-admin">
	<!-- nav Admin -->
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="#">Admin</a>
	</nav>
	<div class="container">
		<h3>แก้ไข ประเภทหอพัก</h3>
		<!-- modal edit -->
		<div class="modal-body">
			<form action="/admin/update" method="post" onsubmit="alert('แก้ไขหอประเภทแล้ว');">
				<div class="form-group">
				<fieldset>ID :</fieldset>
				<input type="text" name="id" class="form-control"
						th:value="${caes.id}" readonly="readonly"/><br />
					<fieldset>ชื่อประเภท :</fieldset>
					<input type="text" name="upcat" class="form-control"
						th:value="${caes.name}" required="required"/><br />
					<button type="submit" class="btn btn-success-outline col-md-offset-4" >
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
						บันทึก
					</button>
					<button type="reset" class="btn btn-warning-outline">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						ค่าเดิม
					</button>
					<a th:href="@{/admin}"><button type="button" class="btn btn-danger-outline">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						ยกเลิก
					</button></a>
				</div>
			</form>
		</div>
	</div>
	<footer class="text-link-coppyright bg-footter col-md-12" style="color: white; background-color: #373a3c; ">
		<center >
			© 2016 <a th:href="@{https://www.facebook.com/chakkarinyinghan}"
				class="text-link-coppyright" style="text-decoration: none; color: white;">Chakkarin Yinghan</a>
		</center>
	</footer>
</body>
</html>
