<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin :: ระบบค้นหาหอพัก</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="stylesheet"
	th:href="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}" />
<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"></script>
<link rel="stylesheet" th:href="@{/app.css}" href="../static/app.css"
	media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}"
	href="../static/css/default.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"
	href="../static/css/component.css" />
<script src="../static/js/modernizr.custom.js"
	th:src="@{/js/modernizr.custom.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-1.10.2.min.js}"></script>
<!-- <script type="text/javascript"
	th:src='@{http://maps.google.com/maps/api/js;sensor=false;libraries=places;}'></script> -->
<script src="../static/js/locationpicker.jquery.js"
	th:src="@{/js/locationpicker.jquery.js}"></script>
<!-- <script th:src="@{https://code.jquery.com/jquery-1.10.2.min.js}"></script> -->
<!-- map -->
<style type="text/css">
div#map-canvas {
	margin: auto;
	width: 600px;
	height: 550px;
	overflow: hidden;
	margin: 0;
}
</style>
</head>
<body class="fix-body-admin">
	<!-- nav Admin -->
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="#">Admin</a>
		<ul class="nav navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/admin">ประเภทหอพัก
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item active"><a class="nav-link" href="#">ข้อมูลหอพัก</a>
			</li>
			<li class="nav-item "><a class="nav-link" href="/admin/up">เพิ่มรูป</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/admin/uc">ความคิดเห็นสมาชิก</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/admin/user">สมาชิก</a></li>
			<li class="nav-item"><a class="nav-link" href="/">ออกจากระบบ</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="row">
			<a type="button" class="btn btn-success-outline" href="/admin/dorm/aDorm">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				ข้อมูลหอพัก
			</a>
			<br /> <br />
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>ชื่อ</th>
						<th>ประเภท</th>
						<th>ค่าเช่า</th>
						<th>เบอร์ติดต่อ</th>						
						<th>ของใช้ในหอ</th>						
						<th>ค่าน้ำ</th>
						<th>ค่าไฟ</th>
						<th>แก้ไข</th>
						<th>ลบ</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="d : ${dorm}">
						<td th:text="${d.id}"></td>
						<td th:text="${d.name}"></td>
						<td th:text="${d.category.name}"></td>
						<td th:text="${d.price}"></td>
						<td th:text="${d.tel}"></td>
						<td >
							<ul th:each="D : *{d.consume}">
								<li th:text="${D}"></li>
							</ul>
						</td>
						<td th:text="${d.price_aqua}"></td>
						<td th:text="${d.price_fire}"></td>
						<td><a class="btn btn-sm btn-warning"
							th:href="@{'/admin/{id}/edit-dorm'(id=${d.id})}"
							th:attr="name=${d.name}"> <span
								class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</a></td>
						<td><a class="btn btn-sm btn-danger"
							th:href="@{'/admin/{id}/delete-dorm'(id=${d.id})}"
							th:attr="name=${d.name}" onclick="myFunction()"> <span
								class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<script>
function myFunction() {
    var txt;
    var r = confirm("คุณต้องการลบ ?");
    if (r == true) {
        alert('ทำการลบแล้ว');
    }
}
</script>
<footer class="text-link-coppyright bg-footter col-md-12" style="color: white; background-color: #373a3c; ">
		<center >
			© 2016 <a th:href="@{https://www.facebook.com/chakkarinyinghan}"
				class="text-link-coppyright" style="text-decoration: none; color: white;">Chakkarin Yinghan</a>
		</center>
	</footer>
</body>
</html>