<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div th:each="s : ${Show}">
	<img alt="" th:src="${s.imge}"/>
	<label  th:text="${s.imge}"></label>
</div>
</body>
</html>

<div class="container">
		<form method="POST" enctype="multipart/form-data" action="/up">
			 1 : <input type="file" name="file" /><br />
			 <input type="submit" value="Upload" /> Press here to upload the file!
				
		</form>
		
		
		<script type="text/javascript">
<!--

//-->
</script>